* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center;
    line-height: 40px; */
  padding: 0 4%;
  height: 70px;
  background-color: blue;
  color: white;
}

.appname {
  color: inherit;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}

.menu a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 3px;
}

.menu a:hover {
  background-color: rgb(5, 5, 165);
}

/* CUSTOM CSS PROVIDE FROM GRAFIKART */

.regForm{
/* text-align: center; */
margin:1% 20%;
}

.regForm h2{
    text-align: center;
    text-decoration: underline;
}
#regForm{
    border: 1px solid black;
    padding: 10% 10%;
}


.field {
  position: relative;
  height: 72px;
  padding: 16px 0 8px 0;
}
.field-label {
  position: relative;
  margin: 0;
  display: block;

  color: #bfbfbf;
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;

  transform: translateY(24px);
  transition: transform 0.3s, color 0.3s;
  transform-origin: 0 50%;
}
.field-input {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  padding: 8px 0;

  line-height: 16px;
  font-family: Roboto;
  font-size: 16px;

  background: transparent;
  border: none;
  -webkit-appearance: none;
  outline: none;
}
.field::after,
.field::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 6px;
  left: 0;

  background-color: #e6e6e6;
}

.field::after {
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.has-label .field-label {
  transform: translateY(0) scale(0.75);
}

.is-focused .field-label {
  color:blue;
}
.field.is-focused::after {
  transform: scaleX(1);
}

.field.error::after{
    background-color: red;
}
.field.error .field-label{
    color: red;
}

#regForm button{
    margin: 10% 0 0 0;
    width: 100%;
    height: 35px;
    background-color: blue;
    border: blue;
    color: white;
   
    
}
#regForm button:hover{
    background-color: rgb(255, 255, 255);
    border:1px solid blue;
    color: blue;
}


p.error{

  color: red;
}